{{ define "main" }}
<div class="uk-section uk-section-small" id="blog-wrapper">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-3-4@s">
                <div class="uk-card">
                    <div class="image-wrapper uk-margin-large">
                        {{ if .Params.featured_image }}
                        <img src="{{ .Params.featured_image }}" alt="{{ .Params.image_alt_tag }}">
                        {{ end }}
                    </div>
                    <div class="md__content">
                        {{ .Content }}
                    </div>
                </div>

            </div>
            {{ partial "templates/sidebar" . }}
        </div>
        
    </div>
</div>
{{ end }}