{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
<div class="uk-visible@s">
    <nav class="main-nav uk-navbar-container uk-navbar-transparent">
        <div class="uk-container uk-container-xlarge">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a href="{{ .Site.BaseURL }}">
                        <img src="{{ $navbar.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="250">
                    </a>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                        <li>
                            <a href="#">{{ .Name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{ range .Children }}
                                    <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </li>
                        {{ else }}
                        <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                        {{ end }}
                        {{ end }}
                        </ul>
                </div>

            </div>
        </div>
    </nav>
</div>


<!-- mobile -->
<div>
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-padding-small uk-box-shadow-small">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1634542944/Green%20Coast%20Organics/dark-green-coast-logo.png" alt="{{ .Site.Data.profile.company_name }} logo" width="150" class="white-logo">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle></a>
        </div>
    </nav>
</div>
    <div id="mobile-menu-slide" uk-offcanvas>
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical" uk-nav>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="uk-parent">
                    <a href="#" class="uk-text-light">{{ .Name }}</a>
                    <ul class="uk-nav-sub">
                        {{ range .Children }}
                        <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}

            </ul>
        </div>
    </div>