<li class="uk-width-1-1 uk-width-1-2@s uk-active">
    <div class="uk-light">
        <a class="uk-cover-container uk-transition-toggle uk-display-block uk-link-toggle"
            href="">
            <img alt="" uk-img="target: !.uk-slider-items" src="https://res.cloudinary.com/hungryram19/image/upload/v1634541042/Green%20Coast%20Organics/1.jpg">
            <div class="uk-position-bottom uk-overlay">
                <div> 
                    <h3>Collection One</h3>
                </div>
            </div>

        </a>
    </div>
</li>